@charset "utf-8";

$color:#a58646; 
@mixin radius($val){
    -webkit-border-radius:$val;    
    -moz-border-radius:$val;   
    border-radius:$val;
}
@mixin boxshadow($val){
    -webkit-box-shadow: $val;    
    -moz-box-shadow: $val;    
    box-shadow: $val;
}
%center{
    text-align: center;
}
%fontsize-none{
    font-size:0;
    -webkit-text-size-adjust:none;
}
%border-bot-10{
    border-bottom: px2rem(10px) solid #ededed;
}
/* 设置HTML5元素为块 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* 设置图片视频等自适应调整 */
img {
  max-width: 100%;
  height: auto;
  width: auto\9;
  width: 100%;
  /* ie8 */
  display: block;
}
.video embed,
.video object,
.video iframe {
  width: 100%;
  height: auto;
}
/* 公共库 */
body,
div,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
fieldset,
legend,
input,
button,
figcaption,
figure,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  width: 100%;
  margin: 0 auto;
  outline: 0;
  -webkit-text-size-adjust: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #555756;
  cursor: pointer;  
}
a:hover {
  color: #141414;
  text-decoration: none;
}
a img {
  border: none;
}
a > img {
  vertical-align: bottom;
}

body {
  font-family: 'Heiti SC', 'Microsoft YaHei', "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  overflow-y: scroll;
  overflow-x: hidden;
  *overflow-y: auto !important;
  font-size: px2rem(22px);
}

.section1{
	position: relative;
    .slide-img{
		width:100%;
		height:100%;
	}
}
	#logo{
		position: absolute;
		left:0;
		top:80px;
		width:168px;
		height:50px;
		opacity: 0;
		z-index: 99999;

	}
    .slide{
	    position: relative;		
	}
	#banner-center{
		width:128px;
		height:236px;
		position: absolute;
		left:50%;
		top:50%;
		margin-top:-118px;
		margin-left: -64px;
		opacity: 0;
		transform:scale(0.5);		
		background: rgba(27, 82,59, 0.5);
	}
	#nav{
		position: absolute;
		margin-left:50%;
		left:0;
		top:80px;
		opacity: 0;
		z-index: 99999;		
		li{
			margin-right: 50px;
			float:left;
		}
		li.on a{
			color:$color;
		}
		a{
			font-size: 20px;
			color:#fff;
		}
	}
	.fodeIn{
    animation: myfodeIn 1s linear 1s ;
    -webkit-animation:  myfodeIn 1s linear 1s ;	
	animation-fill-mode: forwards;	
	-webkit-animation-fill-mode: forwards;		
	}
	.faguang{
    animation: flicker 1.5s linear 0.5s ;
    -webkit-animation:  flicker 1.5s linear 0.5s ;	
	animation-fill-mode: forwards;	
	-webkit-animation-fill-mode: forwards;			
	}
	
@keyframes myfodeIn{
    from {
			opacity: 0;
			left:0;
			}
    to {
			  opacity: 1;
		    left:96px;
		}
}
@-o-keyframes myfodeIn{
    from {
			opacity: 0;
			left:0;
			}
    to {
			  opacity: 1;
		    left:96px;
		}
}
@-moz-keyframes myfodeIn{
    from {
			opacity: 0;
			left:0;
			}
    to {
			  opacity: 1;
		    left:96px;
		}
}
@-webkit-keyframes myfodeIn{
    from {
			opacity: 0;
			left:0;
			}
    to {
			  opacity: 1;
		    left:96px;
		}
}

@keyframes flicker {
  0% {
    box-shadow: 0 0 1rem rgba(27, 82,59, 0), inset -0.25rem 0 0 0.5rem rgba(14, 10, 10, 0.1);
	opacity: 0;
	transform:scale(0.5);
  }
  50% {
    box-shadow: -1rem 0 8rem 1rem rgba(27, 82,59, 0.3), inset -0.25rem 0 0 0.5rem rgba(14, 10, 10, 0.1);  
	  opacity: 0.5;
	transform:scale(0.75);
	  
  }
  100%{
	 box-shadow: -1rem 0 8rem 1rem rgba(27, 82,59, 0.5), inset -0.25rem 0 0 0.5rem rgba(14, 10, 10, 0.1); 
	 opacity: 1;
	transform:scale(1);	 
  }
}

.section2{
.bannar{
width:100%;
height:100%;
position:relative;
}
.img{
width:100%;
height:100%;
overflow:hidden;
ul{
    height:100%;
}
}
.img ul li{
width:100%;
height:100%;
list-style-type: none;
display:none;
.load{
    width:300px;
    height:100%;
    background: #0f1c18;
    padding-left:120px; 
    position: relative;
    z-index: 100;
    h2{
        font-size: 58px;
        color:$color;
        width: 100%;
        line-height: 160px;
        
    }
    p{
        font-size: 26px;
        color:#fff; width: 100%;   
        line-height: 2.4em;
	    font-family: "新宋体";		
    }
    p.yingwen{
        font-size: 18px;
        text-transform: uppercase; 
        idth: 100%;
        margin-top: 200px;
        line-height: 2em;
    }
}
}

.nav{
width:100%;
height:120px;
position:absolute;
bottom:0;
left:0;
background: #516760;
z-index: 99;
ul{
    margin-left:450px;
    padding-top:55px;
}
}

.nav ul li{
width:200px;
height:10px;
float:left;
margin-left:38px;
list-style-type: none;
background:#fff;
}
.nav ul li p{
width:0px;
height:100%;
background:#033c36;
float:left;
}  
}
.section3{
    background: url(../images/section3-bg.jpg) center;
    background-size: cover;
}
.section4{
    background: url(../images/section4-bg.jpg) center;
    background-size: cover;
}
.section5{
    background: url(../images/section5-bg.jpg) center;
    background-size: cover;
}
.section6{
    background: url(../images/section6-bg.jpg) center;
    background-size: cover;
}


#divTyping{
	width:580px;
	position:absolute;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left: -290px;
	color:#fff;
	font-size: 28px;
	line-height: 2.2em;
	font-family: "新宋体";
	text-align: center;
}


.section4{
	overflow: hidden;
}
#section4-1{
	font-size: 32px;
	color:$color;
	position: absolute;
	top:-10%;
	left:10%;
	font-family: "新宋体";
}
#section4-2{
	font-size: 32px;
	color:$color;
	position: absolute;
	top:-10%;
	right:10%;
	font-family: "新宋体";	
}
#section4-3{
	font-size: 26px;
	color:#fff;
	position: absolute;
	top:40%;
	left:-100%;
	font-family: "新宋体";	
		p{
			width:300px;
			border-bottom: 1px solid $color;
			line-height: 3em;
			margin-bottom: 60px;
		}
}
#section4-4{
	font-size: 26px;
	color:#fff;
	position: absolute;
	top:40%;
	right:-100%;
	font-family: "新宋体";	
		p{
			width:300px;
			border-bottom: 1px solid $color;
			line-height: 3em;
			margin-bottom: 60px;
			text-align: right;
		}
}


#section5-1{
	font-size: 28px;
	color:$color;
	width:100%;
	position:absolute;
	left:0;
	top:-10%;
	font-family: "新宋体";
	opacity: 0;
	text-align: center;
}
#section5-2{
	font-size: 18px;
	color:$color;
	width:100%;
	position:absolute;
	left:0;
	bottom:-10%;
	font-family: "新宋体";
	opacity: 0;
	text-align: center;
	text-transform: uppercase;
}
#section5-3{
	display: none;
	width:390px;
	height:133px;
	position: absolute;
	top:50%;
	left:50%;
	margin-top:-65px;
	margin-left: -195px;
}

#section6-1{
    opacity: 0;
	width:390px;
	height:133px;
	position: absolute;
	top:110%;
	left:50%;
	margin-left: -195px;
}
#section6-2{
    opacity: 0;
	font-size: 28px;
	color:$color;
	width:100%;
	position:absolute;
	left:0;
	top:110%;
	font-family: "新宋体";
	text-align: center;
}
#section6-3{
    width:100%;
    position:absolute;
    left:0;
    top:110%;    
    opacity: 0;   
    
    
    .erweima{
        width: 129px;
        height: 129px;
        display: block;
        margin:0 auto;
    }
    .lianxi{
        margin-top: 40px;
        li{
            font-size: 18px;
            color:#fff;
            font-family: "新宋体";
            text-align: center;
            margin-bottom:10px; 
            &:before{
                content:"";
                display: inline-block;
                width:30px;
                height: 30px;
                background: url(../images/dianhua-icon.png) no-repeat;
                background-size: 100% 100%;
                vertical-align: middle;
                margin-right: 6px;
            }
        }
        li:nth-child(2){
            &:before{
                content:"";
                display: inline-block;
                width:30px;
                height: 30px;
                background: url(../images/weixin-icon.png) no-repeat;
                background-size: 100% 100%;
                vertical-align: middle; 
                margin-right: 6px;                              
            }            
        }
    }
}


.dongtai{
    background: url(../images/dongtai-bg.jpg) center;
    background-size: cover;	
}
#mainBox{ 
	width:1200px;
	height:580px;
	position:relative; 
	top:180px;
	overflow:hidden; 
	margin:0 auto;
	@include boxshadow(0 10px 10px #033c36);
}
#content{ 
    position:absolute; left:0; top:0; background:#fff;
    text-align: center;
    padding:80px 0 180px;
    .h1{
        font-size: 32px;
        font-family: "新宋体";
        color: $color;   
        text-align: center;   
        margin-bottom: 30px;
    }
    .time{
        font-size: 16px;  
        text-align: center;  
        background: #d7d7d7;
        color:#fff;
        display: inline-block;
        padding:4px 10px; 
        margin-bottom: 40px;         
    }
    .cntent-body{
        padding:0 70px;
        p{
            margin-bottom: 10px;
            text-align: justify;
            font-size: 18px;
            line-height: 1.75em;
        }
    }
}
.scrollDiv{ width:14px; position:absolute; top:0; background:#666 url(../images/scroll.png); }


.pre-next{
    font-size: 18px;
    line-height: 2em;
    margin-left: 70px;
    li{
        margin-bottom:10px;
        
        a{
            color:#333333;
            span{
                border:1px solid #ccc;
                display: inline-block;
                padding:2px 40px;
                margin-right: 20px;
        background: #d7d7d7; 
        color:#fff;               
            }
        }
    }
}
.ab{
    position: absolute;
    width: 100%;
    height:120px;
    left:0;
    bottom:0;
    text-align: left;
    background: #fff;
    padding-top: 20px;
    .fanhui{
        position: absolute;
        right: 70px;
        bottom:30px;
        font-size: 16px;
        color:$color;
        border:1px solid $color;
        padding:8px 30px;
        background: #033c36;
    }   
}